<!DOCTYPE html>
<html lang="en" xmlns:display="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .navbar {
            color: white;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div>
            <span class="navbar-text text-white font-weight-bold" th:text="${user.getUsername()}"></span>
            <span class="navbar-text text-white">with roles:</span>
            <span class="navbar-text text-white" th:each="role : ${user.getRoles()}"
                  th:text="${role.getNoPrefixName(role)}"></span>
        </div>
        <form th:action="@{/logout}" th:method="POST">
            <button type="submit" class="btn btn-dark">Logout</button>
        </form>
    </div>
</nav>

<div class="container-fluid bg-light">
    <div class="row">
        <div class="col-2 p-0 gy-3 bg-white min-vh-100">
            <ul class="nav nav-pills mt-3 flex-column">
                <div sec:authorize="hasRole('ADMIN')">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin}">Admin</a>
                    </li>
                </div>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/user}">User</a>
                </li>
            </ul>
        </div>
        <div class="col-10 bg-light">
            <br>
            <h1>User information-page</h1>
            <br>
            <div class="card">
                <div class="card-block">
                    <div class="col border bg-light">
                        <h4 style="padding: 10px 10px 10px 10px">About user</h4>
                    </div>
                    <div class="container-fluid border bg-white py-3 px-4">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td th:text="${user.getId()}"></td>
                                <td th:text="${user.getName()}"></td>
                                <td th:text="${user.getSurname()}"></td>
                                <td th:text="${user.getAge()}"></td>
                                <td th:text="${user.getUsername()}"></td>
                                <td><p th:each="role: ${user.getRoles()}" th:utext="${role.getNoPrefixName(role)}"></p></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>